<div class="user-container">
  <div class="thumb">
    <img src="{{user.picture}}" alt="avatar" />
  </div>
  <div class="about">
    <div class="name">{{user.name}}
    <div class="action">
      <i class="fa fa-fw fa-video-camera text-muted" title="partager ma webcam"></i>
      <i class="fa fa-fw fa-microphone text-muted" title="partager mon micro"></i>
      <i class="fa fa-fw fa-desktop text-muted" title="partager mon écran"></i>
      <i class="fa fa-fw fa-sign-out text-danger pull-right" title="quitter la salle"></i></div>

    </div>
  </div>
</div
